/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_base.scss";
$header-height: 40px;
body {
    background-color: #f5f5f5;
}

@include header($header-height, $orange);
@include header-clear($header-height);
@include gen-clear(0.5em);
@include menu;
@include nav($header-height, 5);
@include main(96%);
@include left(96%);
@include right(96%);
@include strip;
@include one-third;
@include sub-info;
section.right,
section.left {
    h1,
    h2 {
        text-align: center;
    }
}

@include footer(40px);