/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "_base.scss";
$header-height: 3em;
body {
    background-color: #f5f5f5;
}

@include header($header-height, $orange);
@include header-clear(4em);
@include menu;
@include nav($header-height, 4);
@include main(100%);
@include gen-clear(4em);
main ul {
    list-style-image: none;
}

@include left(47%);
#img-picture {
    float: right;
    width: 98%;
    margin-right: 2%;
}

@include right(47%);
@include sub-info;
.info-list {
    margin-left: 1em;
    margin-top: -1em;
}

#social-icons {
    list-style-image: none;
    text-align: center;
    @include display-flex;
    @include flex-wrap(wrap);
    li {
        margin: 0em;
        display: inline-block;
        @include flex(1 0);
    }
}

a {
    color: black;
    text-decoration: underline;
}

h1 {
    font: {
        size: 3.5em;
    }
    margin: {
        left: 2%;
    }
}

h2 {
    font: {
        size: 2.5em;
    }
    margin: {
        left: 2%;
    }
}

h3 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    color: $purple;
}

p {
    line-height: 1.5em;
}

pre {
    font-size: 1.3em;
    float: left;
    margin: {
        left: 3em;
        right: 3em;
    }
    span {
        color: red;
    }
}

@include footer(3em);