<h5>Quick Archive</h5>
<?php
   include_once "php/Archive.php";
   buildQuickArchive();
?>
  <h5>Full Archive</h5>
  <p class="archive"><a class="full-archive-link" href="Archive.html" title="Archive By Year">By Year</a><a class="full-archive-link" href="Archive.html?tag="
      title="Archive By Category">By Category</a></p>
  <hr/>
  <center>
    <a href="feed.rss" title="Subscribe to the Feed">Subscribe</a>
    </center>
  </p>