<meta charset="UTF-8">
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="apple-touch-icon" href="images/iphone-icon.png" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/css?family=Lato|Nunito:200,400,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" media="screen and (max-width: 758px)" href="stylesheets/mobilescreen.css" />
  <link rel="stylesheet" type="text/css" media="screen and (min-width: 759px)" href="stylesheets/screen.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <link rel="canonical" href="http://thedadams.com" />

  <!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(["setDocumentTitle", document.domain + "/" + document.title]);
  _paq.push(["setCookieDomain", "*.thedadams.com"]);
  _paq.push(["setDomains", ["*.thedadams.com"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://matomo.dadams.solutions/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '2']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://matomo.dadams.solutions/matomo.php?idsite=2&amp;rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Matomo Code -->
