<footer>
  <p><a id="credits" href="/Credits.html" title="Credits">Credits</a>
    <span id="copyright"> &copy;2012-<?php echo (new DateTime("now", new DateTimeZone("America/Los_Angeles")))->format("Y");?> Donnie Adams</span>
  </p>
</footer>
