<header>
  <a id="menu" href="javascript:void(0)">Menu</a>
  <nav>
    <ul>
      <li><a href="/Home.html" title="Home">Home</a></li>
      <li><a href="/About.html" title="About me">About</a></li>
      <li><a href="/Projects.html" title="Projects">Projects</a></li>
      <li><a href="/Basketball.html" title="Basketball">Basketball</a></li>
      <li><a href="/Blog.html" title="My blog">Blog</a></li>
      <li><a href="/Contact.html" title="Ways to contact me">Contact</a></li>
    </ul>
  </nav>
  <script>
    document.getElementById("menu").onclick = function () {
      var navDisplay = document.getElementsByTagName("nav")[0];
      var headerClear = document.getElementsByClassName("header-clear")[0];
      if (navDisplay.className == "") {
        navDisplay.className = "show";
        headerClear.style.height = "240px";
      } else {
        navDisplay.className = "";
        headerClear.style.height = "40px";
      }
    };
  </script>
</header>