html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

@font-face {
    font-family: "cool-font";
    src: url('../fonts/Roboto-Light-webfont.eot?1389041798');
    src: url('../fonts/Roboto-Light-webfont.eot?&1389041798#iefix') format('embedded-opentype'), url('../fonts/Roboto-Light-webfont.woff?1389041798') format('woff'), url('../fonts/Roboto-Light-webfont.ttf?1389041798') format('truetype'), url('../fonts/Roboto-Light-webfont.svg?1389041798') format('svg');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: "cool-font";
    src: url('../fonts/Roboto-Regular-webfont.eot?1389041798');
    src: url('../fonts/Roboto-Regular-webfont.eot?&1389041798#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular-webfont.woff?1389041798') format('woff'), url('../fonts/Roboto-Regular-webfont.ttf?1389041798') format('truetype'), url('../fonts/Roboto-Regular-webfont.svg?1389041798') format('svg');
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: "cool-font";
    src: url('../fonts/Roboto-LightItalic-webfont.eot?1389041798');
    src: url('../fonts/Roboto-LightItalic-webfont.eot?&1389041798#iefix') format('embedded-opentype'), url('../fonts/Roboto-LightItalic-webfont.woff?1389041798') format('woff'), url('../fonts/Roboto-LightItalic-webfont.ttf?1389041798') format('truetype'), url('../fonts/Roboto-LightItalic-webfont.svg?1389041798') format('svg');
    font-weight: normal;
    font-style: italic
}

@font-face {
    font-family: "cool-font";
    src: url('../fonts/Roboto-Italic-webfont.eot?1389041798');
    src: url('../fonts/Roboto-Italic-webfont.eot?&1389041798#iefix') format('embedded-opentype'), url('../fonts/Roboto-Italic-webfont.woff?1389041798') format('woff'), url('../fonts/Roboto-Italic-webfont.ttf?1389041798') format('truetype'), url('../fonts/Roboto-Italic-webfont.svg?1389041798') format('svg');
    font-weight: bold;
    font-style: italic
}

ul,
ol {
    list-style-position: inside
}

body {
    font-family: cool-font, Helvetica, sans-serif;
    width: 100%;
    height: 100%
}

#container {
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold
}

html,
body {
    height: 100%
}

#container {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -3.5em
}

#container .footer-clear {
    height: 3.5em
}

footer {
    clear: both;
    position: relative;
    height: 3.5em
}

body {
    background-color: #f5f5f5
}

header {
    width: 100%;
    height: 5em;
    position: fixed;
    background: #d30;
    z-index: 99
}

header {
    position: static;
    padding-top: 1em
}

.header-clear {
    height: 2em
}

main {
    width: 96%;
    margin-left: 2%
}

section.left {
    width: 96%;
    float: left;
    clear: left;
    margin-left: 2%
}

@media screen and (min-width: 759px) {
    section.right {
        width: 96%;
        float: right;
        clear: right;
        margin-right: 2%
    }
}

@media screen and (max-width: 758px) {
    section.right {
        width: 96%;
        float: left;
        clear: left
    }
}

.strip {
    width: 100%;
    background-color: #026;
    color: white;
    margin-top: 3%;
    margin-bottom: 3%
}

.strip a {
    color: white
}

.gen-clear {
    height: 2em;
    clear: both
}

a {
    color: black;
    text-decoration: underline
}

a:hover {
    color: blue
}

h1 {
    font-size: 2.5em;
    margin-left: 2%;
    color: white;
    margin-bottom: .5em
}

h1 a {
    color: white
}

h2 {
    font-size: 1.5em;
    line-height: 1.3em;
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 1em;
    margin-bottom: 1em
}

p {
    font-size: 1.3em;
    margin: 4%;
    line-height: 1.5em
}

main img {
    float: left;
    margin-right: 2%
}