html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,
ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

q,
blockquote {
    quotes: none
}

q:before,
q:after,
blockquote:before,
blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block
}

ul,
ol {
    list-style-position: inside
}

body {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 18px;
    width: 100%;
    height: 100%
}

#container {
    width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Lato', sans-serif;
}

strong {
    font-weight: bold;
}

#social-icons {
    list-style-image: none;
    text-align: center;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

#social-icons li {
    margin: 0em;
    display: inline-block;
    -webkit-flex: 1 0;
    flex: 1 0
}

#social-icons li img {
    width: 40px;
}

main ul {
    list-style-type: disc;
    margin-left: 2%
}

main ul li {
    padding: 0.5em
}

a {
    color: black;
    text-decoration: underline
}

h1 {
    font-size: 3.5em;
    margin-bottom: 0.5em
}

h2 {
    font-size: 2.5em
}

h3 {
    font-size: 2.5em;
    margin-bottom: 0.25em;
    color: #026
}

h3 a {
    text-decoration: none;
    color: inherit;
}

h4 {
    font-size: 2em;
}

h5 {
    font-size: 1.5em;
    margin-top: 1em
}

p {
    line-height: 1.5em
}

p span {
    font-size: .7em
}

p a.full-archive-link {
    margin-left: 5%;
    margin-right: 5%;
}

.newer-nav {
    float: left;
    clear: left;
}

.older-nav {
    float: right;
    clear: right;
}

pre {
    font-size: 1.3em;
    float: left;
    margin-left: 3em;
    margin-right: 3em
}

pre span {
    color: red
}

code,
pre {
    font-family: monospace
}

.icon {
    width: 40px;
    height: 40px
}

hr {
    border: 0;
    height: 1px;
    background: rgba(0, 34, 102, 0.75);
}

#credits {
    float: left
}

#copyright {
    float: right;
    font-size: 1em;
}

#buycoffee {
    clear: both;
    margin-left: auto;
    margin-right: auto
}

body {
    background-color: #f5f5f5
}

header {
    width: 100%;
    height: 40px;
    background: #d30
}

.header-clear {
    height: 2em;
    -moz-transition: height .3s ease-out;
    -o-transition: height .3s ease-out;
    -webkit-transition: height .3s ease-out;
    transition: height .3s ease-out
}

#menu {
    font-size: 25px;
    font-weight: bold;
    color: white;
    float: right;
    margin-right: 2%;
    margin-top: 7px;
    text-decoration: none
}

@media screen and (min-width: 759px) {
    #menu {
        display: none
    }
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px
}

nav a:hover {
    color: black
}

@media screen and (min-width: 759px) {
    header {
        height: 50px;
    }

    nav ul {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        justify-content: space-around
    }

    nav ul li {
        height: 40px;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        margin-top: 0.3em;
    }

    nav a {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 758px) {
    nav {
        -moz-transition: top .3s ease-out;
        -o-transition: top .3s ease-out;
        -webkit-transition: top .3s ease-out;
        transition: top .3s ease-out;
        position: relative;
        top: -240px;
        width: 100%;
        clear: both;
        background-color: #d30
    }

    nav ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    nav ul li {
        height: 40px;
        width: 100%;
        text-align: center;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center
    }

    nav a {
        font-weight: bold;
        width: 100%
    }

    nav.show {
        top: 0em
    }
}

main {
    width: 96%;
    margin-left: 2%
}

.gen-clear {
    clear: both
}

.half {
    width: 45%;
    display: inline-block;
    vertical-align: middle;
    padding-right: 1%;
    padding-left: 1%;
}

.right-align {
    text-align: right;
}

.half img {
    margin-bottom: 20px;
    width: 100%;
    max-width: 750px;
}

@media screen and (min-width: 759px) {
    .two-thirds {
        width: 60%;
        display: inline-block;
        margin-left: 5%;
    }
}

@media screen and (max-width: 758px) {
    .two-thirds {
        width: 47%%;
    }
}

.blog-left {
    width: 63%;
    float: left;
    padding-left: 5%;
    padding-right: 5%;
}

.blog-left h1 {
    margin-left: -7%;
}

#archive {
    width: 18%;
    float: right;
    clear: right;
    margin-right: 0%;
}

#archive h4,
#archive h5 {
    text-align: center;
    margin-bottom: 5px;
}

#archive ul {
    list-style: square inside url("../images/collapsed-black.png");
    font-size: 16px;
}

#archive ul li ul li {
    margin-left: -5px;
}

#archive ul li ul li ol li a {
    display: block;
}

#archive ul li ul {
    margin-left: 13px;
}

#tags {
    list-style-image: none;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap
}

.sub-info {
    display: inline-block;
    vertical-align: top;
    width: 26%;
    margin-left: 4%;
    padding: 1%;
}

.sub-info-half {
    display: inline-block;
    vertical-align: top;
    width: 39%;
    margin-left: 4%;
    margin-bottom: 12px;
    padding: 1%;
}

.sub-info-full {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 31.5px;
}

.strip {
    width: 100%;
    background-color: #026;
    color: white;
    padding-top: 3%;
    padding-bottom: 3%
}

.strip a {
    color: white
}

.strip a:hover {
    color: black
}

.strip h3 {
    color: white;
}

.strip h2 {
    color: gold;
    text-align: center;
    margin-bottom: 25px;
}

.strip hr {
    background: white;
    width: 90%;
}

@media screen and (min-width: 759px) {
    .one-third {
        width: 29%;
        margin-left: 2%;
        padding: 1%;
        display: inline-block;
        height: 100%;
    }
}

@media screen and (max-width: 758px) {
    .one-third {
        width: 96%;
        margin-left: 2%;
        margin-top: 3em;
        margin-bottom: 3em
    }
}

footer {
    font-size: 0.6em;
    height: 40px;
    width: 100%
}

footer p {
    width: 100%
}

html,
body {
    height: 100%
}

#container {
    clear: both;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -40px
}

#container .footer-clear {
    height: 40px
}

footer {
    clear: both;
    position: relative;
    height: 40px
}
