@import "compass/reset";
@import "compass/css3";
@import "compass/layout/sticky-footer";
$orange: #dd3300;
$purple: #002266;
@include font-face("cool-font", font-files("Roboto-Regular-webfont.woff", "Roboto-Regular-webfont.ttf", "Roboto-Regular-webfont.svg"), "Roboto-Regular-webfont.eot", bold, normal);
@include font-face("cool-font", font-files("Roboto-Light-webfont.woff", "Roboto-Light-webfont.ttf", "Roboto-Light-webfont.svg"), "Roboto-Light-webfont.eot", normal, normal);
@include font-face("cool-font", font-files("Roboto-Italic-webfont.woff", "Roboto-Italic-webfont.ttf", "Roboto-Italic-webfont.svg"), "Roboto-Italic-webfont.eot", bold, italic);
@include font-face("cool-font", font-files("Roboto-LightItalic-webfont.woff", "Roboto-LightItalic-webfont.ttf", "Roboto-LightItalic-webfont.svg"), "Roboto-LightItalic-webfont.eot", normal, italic);
ul,
ol {
    list-style-position: inside;
}

body {
    font-family: cool-font, Helvetica, sans-serif;
    width: 100%;
    height: 100%;
}

#container {
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

@mixin header($height, $color) {
    header {
        width: 100%;
        height: $height;
        position: fixed;
        background: $color;
        z-index: 99;
    }
}

@mixin header-clear($height) {
    .header-clear {
        height: $height;
    }
}

@mixin main($width) {
    main {
        width: $width;
        margin-left: ((100 - $width) / 2);
    }
}

@mixin left($width) {
    section.left {
        width: $width;
        float: left;
        clear: left;
        margin-left: 2%;
    }
}

@mixin right($width) {
    @media screen and (min-width: 759px) {
        section.right {
            width: $width;
            float: right;
            clear: right;
            margin-right: 2%;
        }
    }
    @media screen and (max-width: 758px) {
        section.right {
            width: $width;
            float: left;
            clear: left;
        }
    }
}

@mixin strip {
    .strip {
        width: 100%;
        background-color: $purple;
        color: white;
        margin-top: 3%;
        margin-bottom: 3%;
        a {
            color: white;
        }
    }
}

@mixin gen-clear($height) {
    .gen-clear {
        height: $height;
        clear: both;
    }
}

@include sticky-footer(3.5em, "#container", ".footer-clear", "footer");